VIRTUAL_ENV="$PWD/.venv"
path_add PATH "$VIRTUAL_ENV/bin"
PS1_PREFIX="(venv:claude-engineer) "

if ! [ -x "$VIRTUAL_ENV/bin/python" ]; then
  cat >&2 <<EOF

TIP: to get started, have a look at README.md

EOF
fi
